<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script src="https://www.slovensko.sk/static/zep/dbridge_js/v1.0/config.js"></script>
<script src="https://www.slovensko.sk/static/zep/dbridge_js/v1.0/dCommon.min.js"></script>
<script src="https://www.slovensko.sk/static/zep/dbridge_js/v1.0/dSigXades.min.js"></script>

<head>
    <meta charset="utf-8" />
    <title>Review Form</title>
    <style>
        .ratings-wrapper {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
        
        .rating {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <h1>Restaurant Review Form</h1>
    <hr />

    <!-- Generate XML from form to static path -->
    <form action="#" th:action="@{/}" th:object="${form}" method="post" id="mainForm">
        <p>First Name: <input type="text" th:field="*{firstName}" /></p>
        <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
        <p>Email Address: <input type="text" th:field="*{emailAddreess}" /></p>

        <!-- Repeating section with Restaurant Address, Rating, Comment and Visit date -->
        <div class="ratings-wrapper">
            <div id="ratings" th:each="ratingItem, ratingItemStat : *{ratings}">
                <div class="rating">
                    <p>Restaurant Address: <input type="text" th:field="*{ratings[__${ratingItemStat.index}__].restaurantAddress}" /></p>
                    <p>Restaurant Rating: <input type="text" th:field="*{ratings[__${ratingItemStat.index}__].restaurantRating}" oninput="validateRating(this)" /></p>
                    <p>Restaurant Comment: <input type="text" th:field="*{ratings[__${ratingItemStat.index}__].restaurantComment}" /></p>
                    <p>Visit Date: <input type="date" th:field="*{ratings[__${ratingItemStat.index}__].visitDate}" /></p>
                </div>
            </div>
            <span id="rating-error-message" style="color:red;"></span>
            <p><input type="submit" value="Add Rating Section" onclick="addRatingSection()" formaction="/add" /></p>
        </div>

        <p><input type="submit" value="Generate XML" formaction="/generate" /></p>
        <p><input type="submit" value="Validate XML" formaction="/validate" /></p>
        <p><span th:text="${validationSuccess}" style="color:green" /></p>
        <p><span th:text="${validationError}" style="color:red" /></p>

        <p><input type="submit" value="Generate HTML" formaction="/html" /></p>
    </form>

    <p>XML <input type="file" id="file-xml" accept=".xml" /></p>
    <p>XSD <input type="file" id="file-xsd" accept=".xsd" /></p>
    <p>XSL <input type="file" id="file-xsl" accept=".xsl" /></p>
    <p>PDF <input type="file" id="file-pdf" accept=".pdf" /></p>

    <br>
    <button id="sign-button" onclick="sign()"> Sign </button>
    <script>
        function validateRating(input) {
            var rating = input.value;
            var errorMessage = document.getElementById("rating-error-message");

            if (rating < 1 || rating > 5) {
                errorMessage.textContent = "Rating must be between 1 and 5.";
                // document.getElementById("mainForm").querySelector('[type="submit"]').disabled = true;
            } else {
                errorMessage.textContent = "";
                // document.getElementById("mainForm").querySelector('[type="submit"]').disabled = false;
            }
        }

        function addRatingSection() {
            var ratingsDiv = document.getElementById("ratings");
            var newIndex = ratingsDiv.children.length;
            var newSection = document.createElement("div");
            newSection.className = "rating";
            newSection.innerHTML = `
                <p>Restaurant Address: <input type="text" name="form.ratings[${newIndex}].restaurantAddress" /></p>
                <p>Restaurant Rating: <input type="text" name="form.ratings[${newIndex}].restaurantRating" oninput="validateRating(this)" /></p>
                <p>Restaurant Comment: <input type="text" name="form.ratings[${newIndex}].restaurantComment" /></p>
                <p>Visit Date: <input type="date" name="form.ratings[${newIndex}].visitDate" /></p>
            `;
            ratingsDiv.appendChild(newSection);
        }

        // adding signature
        function Callback(onSuccess) {
            this.onSuccess = onSuccess;
            this.onError = function(e) {
                alert("Chyba: " + e);
            }
        }

        var sign = () => {
            var xml_file = document.getElementById('file-xml').files[0];
            var xsd_file = document.getElementById('file-xsd').files[0];
            var xsl_file = document.getElementById('file-xsl').files[0];
            var pdf_file = document.getElementById('file-pdf').files[0];

            var xml_file_content = null;
            var xsd_file_content = null;
            var xsl_file_content = null;
            var pdf_file_content = null;

            var prom_array = [];

            prom_array.push(new Promise((resolve) => {
                if (xml_file) {
                    let reader = new FileReader();
                    reader.readAsText(xml_file, "UTF-8");
                    reader.onload = () => {
                        xml_file_content = reader.result;
                        resolve();
                    }
                }
            }));

            prom_array.push(new Promise((resolve) => {
                if (xsd_file) {
                    let reader = new FileReader();
                    reader.readAsText(xsd_file, "UTF-8");
                    reader.onload = () => {
                        xsd_file_content = reader.result;
                        resolve();
                    }
                }
            }));

            prom_array.push(new Promise((resolve) => {
                if (xsl_file) {
                    let reader = new FileReader();
                    reader.readAsText(xsl_file, "UTF-8");
                    reader.onload = () => {
                        xsl_file_content = reader.result;
                        resolve();
                    }
                }
            }));

            prom_array.push(new Promise((resolve) => {
                if (pdf_file) {
                    let reader = new FileReader();
                    reader.readAsDataURL(pdf_file);
                    reader.onload = () => {
                        pdf_file_content = reader.result.split(',')[1];
                        resolve();
                    }
                }
            }));

            Promise.all(prom_array).then(() => {
                ditec.dSigXadesJs.deploy(null, new Callback(() => {
                    ditec.dSigXadesJs.initialize(new Callback(() => {
                        ditec.dSigXadesJs.addXmlObject2("id_0", "formular XML", xml_file_content, xsd_file_content, "http://sipvs-projekt.com/sipvs-namespace", "http://sipvs-projekt.sk/form.xsd", xsl_file_content, "http://sipvs-projekt.sk/form.xsl", "HTML", new Callback(() => {
                            ditec.dSigXadesJs.addPdfObject("id_1", "prilozeny PDF subor", pdf_file_content, "", "http://sipvs-projekt.sk/pdf", 0, true, new Callback(() => {
                                ditec.dSigXadesJs.sign20("id_signature", "http://www.w3.org/2001/04/xmlenc#sha256", "urn:oid:1.3.158.36061701.1.2.3", "id_signature_envelope", "http://sipvs-projekt.sk/signatureEnvelope", "data obalky podpisu", new Callback(() => {
                                    ditec.dSigXadesJs.getSignedXmlWithEnvelope(new Callback((output) => {
                                        var blob = new Blob([output], {
                                            type: "text/plain",
                                        });
                                        const file = document.createElement("a");
                                        file.href = URL.createObjectURL(blob)
                                        file.download = "signed.xml";
                                        file.click();
                                        URL.revokeObjectURL(file.href);
                                    }));
                                }));
                            }));
                        }));
                    }));
                }));
            })
        };
    </script>

</body>

</html>